/* Defino mi paleta de colores.
Es una ventaja ya q me permite no tener q andar definiendo colores por cada cosa */
:root{
    --clr-blue:#2c7255;/* 4b33a8 */
    --clr-white:#ececec;
    --clr-gray:#dacecee8;
    --clr-red:red ;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');


*{ 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Rubik', serif;
}


h1,h2,h3,h4,h5,h6,p,a,input,textarea,ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none; /* saca circulitos de items */
}

a{
    text-decoration: none; /* saco subrayado a cada boton */
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-blue);
}

aside{
    padding: 2rem;
    padding-right: 0;/* para q la barra blanca del botonmenu.Active llegue lo mas a la derecha posible*/
    color:var(--clr-white);
    position:sticky; /* position,top,height con esta configuracion nos fija la barra de navegacion al scrollear */
    top:0;
    height: 100vh;
    display: flex; /* para alejarlo del logo y q haya espacio considerado */
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.3rem;
}

.menu{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    gap:0.5rem; /* para q haya un especaio entre cada elemento de la barra */
    margin-left: 0rem; /* q tan a la izquierda estara la columna de botonesCategoria */

}

.botonMenu{
    background-color: transparent;/* le quietanos el fondo */
    border:0;
    color:var(--clr-white);
    display: flex;/* importantisimo poner esto para q los contenedores hijos-manos se giren */
    gap:1rem;
    font-weight: 600;/* q tan grueso es la negrita */
    padding: 1rem; /* ahora va hacer mas ancho el fondo blanco q el tamaño de la letra  */
    font-size: 0.90rem; /* para el tamaño de la letra */ 
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;/* para q el maximo de blanco de fondo sea el 100% del tamaño de la letra */
}

.botonMenu.active{
    background-color: var(--clr-white);
    color: var(--clr-blue);
    
    position:relative;
}

/* haciendo un border radius invertido,no se puede hacer con una propiedad de css como tal,
ya q se hace artesamente de manera algoritmica e intuitivamente poniendo en content a la A
y apartir de esa letra moverla hasta el extremo superior izquierdo de la barra blanca ,y alli
aplicar la magia buscando la vuelta al border radius(en principio poner position relative
en la clase anterior)*/
.botonMenu.active::before{
    content: 'A';
    color:transparent; /*color de la letra */
    position:absolute;
    width:1rem;
    height: 2rem;
    bottom:100%;
    right:0;
    background-color:transparent;
    border-bottom-right-radius: 0.8rem; 
    box-shadow:0 1rem 0 var(--clr-white) ;
}

.botonMenu.active::after{
    content: 'A';
    position:absolute;
    width:1rem;
    height: 2rem;
    top:100%;
    right:0;
    background-color:transparent;
    border-top-right-radius: 0.8rem; 
    box-shadow:0 -1rem 0 var(--clr-white) ;
}

.botonCarrito{
    text-decoration: none;
    margin-top: 2rem; /* para alejarlo del menu de categorias */
}

.numCarrito { 
    background-color: var(--clr-white);
    color: var(--clr-blue);
    border-radius: 0.25rem;  
    width: 1.5rem; /* Define la anchura */
    text-align: center; /* Alinea el texto dentro del elemento */
}


/* .botonCarrito.active.numCarrito{
    background-color:var(--clr-blue);
    color: var(--clr-white);
} */


i.bi-hand-index-thumb-fill,
i.bi-hand-index-thumb { /* esto me rota el icono de las manos */
    transform: rotateZ(90deg);
}


.pieDePagina{
    color:var(--clr-gray);
    font-size: 0.85rem;
}

main{
    background-color: var(--clr-white);
    margin:16px; /* para separar del borde de la pagina */  /* si pongo 1rem esto equivale a 16 px */
    margin-left: 0rem; /* con esto lo tiro lo mas a la izquierda posible pa q este cerca de la barra */
    border-radius: 2rem ;   /* para redondear puntas de los bordes */       
    padding:3rem; /* para hacer mas lugar para todo el contenido */
}

.tituloPcipal{
    color: var(--clr-blue);
    margin-bottom:2rem;
    font-weight: 600;
}

.contenedorProductos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
    /* display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
 */}

.productoImagen{
    max-width: 100%; /* como la imagen por default tiende a buscar el tamaño original q es mas del 100%,
    si yo lo configuro como 100% el tope q tendra la imagen , ocupara hasta el 100% de cada celda de la grilla
    por foto */
    border-radius: 1rem ;
}

.productoDetalles{
    background-color: var(--clr-blue);
    color:var(--clr-white);
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: smaller;
    margin-top: -2rem; /* subimos el bloque azul para q lo pise la foto */
    position: relative; /* para q se acomoden las letras */
    display: flex;
    flex-direction: column;/* pa q los elementos dentro de productoDetalles se encolumnen ,osea,abrigo,precio,boton*/
    gap:0.1rem; /* con esto achato el bloqe azul y reduzco el espacio entre elementos */
}

.productoTitulo{
    font-size: 1rem;
    margin-bottom: 0;/* Elimina cualquier margen inferior */
}

.productoPrecio{
    padding: 0;
    margin-top: 0;/* Elimina cualquier margen superior */
    font-size: 0.9rem;
    margin-bottom: 2px; 
}

.productoAgregar{
    background-color: var(--clr-white);
    color: var(--clr-blue);
    padding: 0.25rem;
    border-radius: 2rem;
    text-transform: uppercase;
    border:2px solid var(--clr-white);
    transition:background-color 0.2s , color 0.2s;/* para transicion de color */
}

.productoAgregar:hover{
    background-color: var(--clr-blue);
    color: white;
}

/* Para pagina Carrito (hay cosas del codigo anterior q tbm se aplican en esta pag) */
.botonVolver{
    text-decoration: none;
}

.contenedorCarrito{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.carritoVacio,.carritoComprado{
    color: var(--clr-blue);
     /* para hacer de cuenta q el carrito no esta vacio */
}

.carritoProductos{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.carritoProducto{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--clr-gray);
    color:var(--clr-blue);
    padding:0.5rem;
    border-radius: 1rem;
    padding:1.5rem;
    /* para poner los elementos img,tit,canti,$,subt y tacho uno alado de otro */
}

.carritoProductoImagen{
    width:4rem;
    border-radius: 1rem;
}

.carritoProductoDato{
    font-size: 1.4rem;
}

.carritoProductoRopa{
    font-weight: 600;
}
.carritoProducto small{
    font-size: 0.85rem;
}

.carritoProductoEliminar{
    border:0;
    background-color: transparent;
    color:var(--clr-red);
    cursor:pointer; /* para q tenga el puntero-manito para seleccionar el tacho */
}

.carritoAcciones{
    display: flex;
/*     flex-direction: row; */
    justify-content: space-between;
}

.carritoAccionesVaciar{
    border:0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color:var(--clr-blue);
    text-transform: uppercase;
    cursor:pointer;
}

.carritoAccionesDerec{
    display: flex;
  /*   flex-direction: row; */
} 

.carritoAccionesTotal{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color:var(--clr-blue);
    text-transform: uppercase;
    border-top-left-radius: 1rem; 
    border-bottom-left-radius: 1rem;
    gap:1rem;
    
}

.carritoAccionesComprar{
    border:0;
    background-color: var(--clr-blue);
    padding: 1rem;
    color:var(--clr-white);
    text-transform: uppercase;
    cursor:pointer;
    border-top-right-radius: 1rem; 
    border-bottom-right-radius: 1rem;   
}

.tot{
    margin-bottom: 0rem;
}

/* creamos esta clase pa todo aquello q querramos ocultar en cierto momento
en nuestro caso cuando el carrito este o no vacio hay q relfejar eso con los elementos */
.disabled{
    display: none;
}

.headerMobile{
    display: none;/* xq no queremos ver ese menu en el ordenador */
}

.closeMenu{
    display: none;/* xq no queremos ver ese menu en el ordenador */
}

/***  MEDIA QUERIES  ***/

@media screen and (max-width: 850px){
    .contenedorProductos{
    grid-template-columns:1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px){
    .contenedorProductos{
    grid-template-columns:1fr 1fr;
    }
}

@media screen and (max-width: 600px){

    .wrapper {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;

    }

    aside{
        position:fixed;
        z-index: 9; 
        background-color: var(--clr-blue);
       /*display: none; al pcipio no mostramos la barraNav para configurar el main */ 
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0,0, 0, 0.75);/* para opacar el fondo cuando estamos en la barra */        
        transform: translateX(-100%); /* transicion para ocularse a la izquierda el menu  */
        opacity: 0;
        visibility: hidden;/* para q no tape el contenido de productos cuando lo tenemos por encima*/
        transition: 0.2s;
    }

    /* class de aside  */
    .asideVisible{ /* cuando pinchamos el boton de menu mostramos el menu aside */
        transform:translateX(0%);/* transicion para mostrar el menu  */
        opacity: 1;
        visibility: visible;
    }

    .botonMenu.active::before,
    .botonMenu.active::after {
        display: none;
    }

    main{
        margin: 1rem;
        margin-top: 0;
        padding: 2rem; /*padding acorde para mobile */
    }

    .contenedorProductos{
        grid-template-columns:1fr 1fr; 
        }

    .headerMobile{
        margin:1rem;
        display:flex;
        justify-content: space-between;
        align-items: center; /* para q el logo y boton esten centrados verticalmente */
    }

    .logo2{
        color:var(--clr-white);
    }

    .logo{
        color:var(--clr-white);
        display: block;
        margin-top: 0.8rem;
        margin-left: -1rem; /* Mueve el logo hacia la izquierda */
        font-size: 1.2rem; /* Ajustá tamaño de letra*/
    }

    .openMenu ,.closeMenu{            /*botones de abrir/cerrar menu hambur */
        background-color: transparent;
        color:var(--clr-gray);
        border:0;
        font-size: 2rem;
        cursor:pointer;
    }

    .closeMenu{
        display: block;
        position:absolute;
        top:0.4rem; 
        right:1rem; /* corro a la derecha el boton de cierre */
        color: var(--clr-white);
    }

    .carritoProducto{
        gap:0.5rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0.5rem;
    } 

    .carritoProductoImagen{
        width:3rem;
    }

    .carritoProductoTitulo{
        font-size: 0.8rem;
    }

    .carritoProductoCantidad{
        font-size: 0.8rem;
    }

    .carritoProductoSubtotal{
        font-size: 0.8rem;
    }

    .carritoProductoTitulo{
        font-size: 0.8rem;
    }

    .carritoProductoDato{
        font-size: 0.7rem;
    }

    .carritoProductoEliminar{
        flex-wrap: wrap;
        /*  position: absolute; --> cuidado con usar esto xq hace q se salga del contenedor gris
           left: 20rem;                  */
        justify-content: center;
        transform: translateY(0%);
        transform: translateX(130%); 
    } 

    .carritoProductoPrecio{
        display: none;
    }

    .carritoAcciones{ 
        flex-wrap: wrap;
        row-gap:1rem;
    }

  /*   .Toastify__toast-container {
        z-index: 9999 ;
        display: block ;
    }       */
}

    @media screen and (max-width: 400px){
        .contenedorProductos{
        grid-template-columns:1fr 1fr; /*los dos frame permite q entren dos productos */
        }
    }
